/*Общие стили*/

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;

    min-width: 1200px;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Стили хедера*/

.main-menu {
    text-transform: uppercase;
}

.navigaion-item a {
    font-weight: bold;
    color: #000000;
}

.description-slogan {
    font-size: 21px;
    font-weight: bold;
}

.reasons {
    font-weight: 400;
    text-transform: none;
    color: #333333;
}


/*стили мейна*/

.reason-title {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.reason-number,
.reason-description {
    font-weight: 400;
    text-transform: none;
}

.reason1,
.reason2 {
    color: #ffffff;
}

fieldset {
    border: none;
}

.filter-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.search-result {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.order-navigation {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-item-name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-item-type,
.catalog-item-price,
.rating{
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
}

.catalog-item-more,
.catalog-item-book {
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.rating {
    color: #666666;
}

/*стили футера*/

.hashtag{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.academy-link-text {
    text-transform: uppercase;
    color: #000000;
}
