/*Общие стили*/

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;

    background-color: #f2f2f2;

    min-width: 768px;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header,
main,
footer {
    display: block;
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
}

/*Стили хедера*/

.header-content {
    position: relative;
    background-color: #ffffff;
}

.logo {
    position: absolute;
    top: 0;
    left: 44.3%;
    z-index: 5;
}

.main-menu {
    position: relative;
    text-transform: uppercase;
}

.navigaion-item:nth-child(3),
.navigaion-item:nth-child(4) {
    float: right;
}

.site-navigation {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navigaion-item {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.navigaion-item a {
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    color: #000000;

    min-height: 56px;

    padding-top: 14px;
    padding-bottom: 14px;
}

.header-text-wrapper {
    position: relative;
    box-sizing: border-box;
    background-image: url(../img/header-text-background.jpg);
    background-repeat: no-repeat;
    background-position: 0px -56px;
    min-height: 508px;
    padding-top: 75px;
}

.header-text {
    display: block;
    margin: 0 auto;
}

.header-decoration {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 57px;
}

.description-slogan {
    display: block;
    width: 450px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 27px;
}

.reasons {
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin: 0px;
    padding-bottom: 51px;
}


/*стили мейна*/

.reasons-list {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.reason-title {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
}

.reason-number,
.reason-description {
    font-weight: 400;
    text-transform: none;
}

.reason-description {
    text-transform: uppercase;
}

.reason-title {
    text-align: center;
    margin: 0 auto;
    width: 155px;
}

.reason-number {
    text-align: center;
    margin: 0 auto;
    width: 120px;
    margin-top: 22px;
    margin-bottom: 19px;
}

.reason-description {
    text-align: center;
    margin: 0 auto;
    width: 265px;
    line-height: 21px;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    min-height: 256px;
}

.row2 {
    min-height: 330px;
}

.row2 .reason-wrapper {
    padding-bottom: 82px;
}


.row2 img {
    display: block;
    margin: 0 auto;
}

.reason-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 33.5%;
    padding-bottom: 59px;
}

.row1 .reason-image {
    background-image: url(../img/main-reason1.jpg);
    background-repeat: no-repeat;
    background-position: 0px -77px;

    min-height: 256px;
    width: 67%;
}

.row3 .reason-image {
    background-image: url(../img/main-reason2.jpg);
    background-repeat: no-repeat;
    background-position: center;

    min-height: 256px;
    width: 67%;
}

.row1 .reason-wrapper,
.row3 .reason-wrapper {
    background-color: #81b3d2;
}

.search-wrapper {
    min-height: 291px;
}

fieldset {
    border: none;
}

.filter-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.search-result {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.order-navigation {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-item-name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-item-type,
.catalog-item-price,
.rating {
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
}

.catalog-item-more,
.catalog-item-book {
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.rating {
    color: #666666;
}

.map-container {
    background-color: #f2f1ef;
    background-image: url(../img/map.jpg);

    min-height: 470px;
}

.filter-wrapper {
    background-image: url(../img/header-hotels-background.jpg);
    background-repeat: no-repeat;
}

/*стили футера*/

.hashtag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.academy-link-text {
    text-transform: uppercase;
    color: #000000;
}

.social-link {
    display: block;
    background-color: #81b3d2;
    height: 45px;
    width: 45px;
}

.academy-link path {
    fill: #231f20;
}
